html {
    font-size: 16px;
}

h1 {
    font-family: 'Ruda', serif;
    font-size: 5rem;
    margin: 10px 0;
}

h2 {
    font-family: 'Ruda', serif;
    font-size: 2rem;
    margin: 0.625rem 0;
}

h3 {
    font-family: 'Ruda', serif;
    font-size: 1.5rem;
}

p {
    font-size: 1.1rem;
    margin: 0.625rem 0;
}

figcaption {
    font-size: 1rem;
    padding: 1rem 0;
}

a {
    padding: 0.3rem 0;
    display: block;
    text-decoration: none;
    color: #4E4FEB;
}

#animatedText {
    font-size: 2em;
    font-weight: bold;
    white-space: pre-wrap;
}

.hero {
    color: var(--text-color);
}

.hero-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 5rem;
}

.hero-description {

    max-width: 600px;
    margin: 0 auto;
}

.pricing-title {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}



.pricing-price {
    font-weight: bold;
    margin-bottom: 20px;
}

.pricing-features,
.pricing-key-features {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.pricing-features li,
.pricing-key-features li {
    margin-bottom: 10px;
}


.faq-question {
    color: var(--text-color);
}

.faq-answer p {
    color: var(--text-color);
}

.faq-icon {
    transition: transform 0.3s ease;
}